:root {
    --espresso-color: #563635;
    --text-color-dark-green: #5B6057;
    --text-color-green: #6E9075;
    --host-bg-light-green: #78C091;
    --button-color: #81F0E5;
    --background-color: #F0F0F0;
    --outline-bg-color: #E6E6E6;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}
td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
h3 {
    color: var(--text-color-dark-green);
}
/*#coffees {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    flex-direction: column;*/
/*}*/
/*.coffee {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.coffee:nth-child(odd) {
    float: left;
    margin-left: 1em;
}
.coffee:nth-child(even) {
    float: left;
    margin-left: 1em;
}

/*.remove-id {*/
/*    display: none;*/
/*}*/