:root {
    --espresso-color: #563635;
    --text-color-dark-green: #5B6057;
    --text-color-green: #6E9075;
    --text-color-light-green: #78C091;
    --button-color: #81F0E5;
    --background-color: #F0F0F0;
    --outline-bg-color: #E6E6E6;
    --navbar-bg-color: #24292D;
}
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
}
nav.navbar-custom-1 {
    background-color: var(--navbar-bg-color);
    justify-content: normal!important;
}
#coffee-logo {
    height: 200px;
    width: 200px;
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    color: var(--outline-bg-color);
    display: flex;
    justify-content: center;
    /*border: 1px solid var(--button-color);*/
    border-bottom: 1px solid var(--button-color);
}
h3 {
    color: var(--text-color-dark-green);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
}
p {
    color: var(--text-color-light-green);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.25em;
}
#coffees {
    text-shadow: 1px 1px var(--button-color);
}
.coffee {
    border-bottom: solid 2px;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.coffee:nth-child(odd) {
    float: left;
    margin-left: 1em;
}
.coffee:nth-child(even) {
    float: left;
    margin-left: 1em;
}
#coffee-add-form {
    display: flex;
    justify-content: center;
}
#roast-selection {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--text-color-dark-green);
}
#roast-selection:focus {
    text-shadow: 1px 1px var(--button-color);
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
}
#coffee-search {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--text-color-dark-green);
}
#coffee-search:focus {
    text-shadow: 1px 1px var(--button-color);
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
}
#added-coffee {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--text-color-dark-green);
}
#added-coffee:focus {
    text-shadow: 1px 1px var(--button-color);
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
}
#submit-text {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--text-color-dark-green);
}
#submit-text:focus {
    text-shadow: 1px 1px var(--button-color);
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
}
#submit-coffee {
    background-color: var(--navbar-bg-color);
    color: var(--outline-bg-color);
    box-shadow: 4px 4px var(--button-color);
}
.footer {
    height: 100%;
    position: sticky;
    bottom: 0;
    background-color: var(--navbar-bg-color);
    margin: auto;
    flex-shrink: 0;
    padding: 1em 0;
}
.remove-id {
    display: none;
}